body, button, input {
    font-family: Arial, sans-serif;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltipText {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltipText {
    visibility: visible;
}

#recipesButton button,
#mealsButton button,
#statisticsButton button,
#referenceNutrientsButton button {
    border: none;
    text-align: center;
    padding: 5%;
    border-radius: 5px;
    text-decoration: none;
    font-size: xxx-large;
    white-space: normal;
    word-wrap: break-word;
    width: 95%;
    display: block;
    margin: auto auto 1%;
    color: rgb(250, 250, 250);
    background-color: rgb(66, 100, 160);
}

#recipesButton button:hover,
#mealsButton button:hover,
#statisticsButton button:hover,
#referenceNutrientsButton button:hover {
    background-color: rgb(100, 149, 237);
}

#addRecipeView .addButton,
#addMealView .addButton {
    background-color: rgb(50, 180, 50);
    color: rgb(250, 250, 250);
    border: none;
    text-align: center;
    padding: 1%;
    border-radius: 5px;
    text-decoration: none;
    font-size: large;
    white-space: normal;
    display: inline-block;
    margin: auto auto 1%;
}

#addRecipeView .controls {
    text-align: center;
    width: .1%;
}

#addRecipeView .addButton:hover,
#addMealView .addButton:hover {
    background-color: rgb(85, 225, 60);
}

#addRecipeView table {
    border-spacing: 0;
    width: 100%;
}

#addRecipeView thead th {
    font-size: larger;
    font-weight: lighter;
    font-style: italic;
}

#addRecipeView thead th:not(.numberLabel) {
    text-align: left;
}

#addRecipeView .editButton,
#addRecipeView .editorButton,
#addRecipeView .deleteButton,
#addRecipeView .confirmButton,
#addRecipeView .cancelButton {
    color: rgb(250, 250, 250);
    border: none;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: large;
    white-space: nowrap;
    display: inline-block;
    margin: auto;
    vertical-align: center;
    padding: 5px;
}

#addRecipeView .editable {
    white-space: break-spaces;
    word-wrap: break-word;
}

#addRecipeView td:first-child,
#addRecipeView td:nth-child(2) {
    width: 30%;
}

#addRecipeView td:nth-child(3) {
    width: 10%;
}

#addRecipeView .numberLabel,
#addRecipeView .numberCell {
    text-align: right;
    padding-right: 5px;
}

#addRecipeView .editButton {
    background-color: #ffb527;
}

#addRecipeView .editButton:hover {
    background-color: rgba(255, 181, 39, 0.85);
}

#addRecipeView .deleteButton {
    background-color: #d64546;
}

#addRecipeView .deleteButton:hover {
    background-color: rgba(214, 69, 70, 0.85);
}

#addRecipeView .editorButton {
    background-color: royalblue;
}

#addRecipeView .editorButton:hover {
    background-color: rgba(65, 105, 225, 0.85);
}

#addRecipeView .confirmButton {
    background-color: teal;
}

#addRecipeView .confirmButton:hover {
    background-color: rgba(0, 128, 128, 0.85);
}

#addRecipeView .cancelButton {
    background-color: coral;
}

#addRecipeView .cancelButton:hover {
    background-color: rgba(255, 127, 80, 0.85);
}

#addRecipeView input {
    box-sizing: border-box;
    width: 100%;
}

.editing:not(.controls):hover,
.editLine:hover {
    background-color: rgb(220, 220, 220);
}